<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="salt web GUI">
    <meta name="author" content="Scott Kinder">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>Please sign in!</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
  </head>

  <body role="document">

    <div class="container theme-showcase" role="main">
        <form class="form-signin" method="POST" action="/login">
          {{ form.csrf_token }}
          <h2 class="form-signin-heading">Please sign in</h2>
          <br>
          {{ form.username(class_="form-control", autofocus=true, placeholder="Username") }}
          <br>
          {{ form.password(class_="form-control", placeholder="Password") }}
          <button class="btn btn-lg btn-primary btn-block" type="submit" style="background:grey;border-color:black">Sign in</button>
        </form>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
